In [1]:
a = [2,2,3,3,4,5,6,7]
for i in a:
    print(i)

2
2
3
3
4
5
6
7

In [2]:
name = "sajid"
for i in name:
    print(i)

s
a
j
i
d

In [5]:
for i in range (1,21):
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
name = input("Enter your name: ")

for i in range(5):
    print(name)

sajid
sajid
sajid
sajid
sajid

In [18]:
for i in range (1,31,2):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [34]:
for i in range (1, 31):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
for i in range (1, 31):
    if i%2==0:
      print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [32]:
i=2 
while i<=31:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [7]:
fruits = ["apple", "Banana", "Mango" , "Orange", "Grapes", "tomato", "Cherry", "Lychee"]
for x in fruits:
    if x == "tomato":
        break
    print(x)

apple
Banana
Mango
Orange
Grapes

In [8]:
fruits = ["apple", "Banana", "Mango" , "Orange", "Grapes", "tomato", "Cherry", "Lychee"]
for x in fruits:
    if x == "tomato":
        continue
    print(x)

apple
Banana
Mango
Orange
Grapes
Cherry
Lychee